<!--Importar as Classes que serão utilizadas-->
@using System.Net
@using WebApplication_C.Classes

<!--Códgo C# inicial-->
@{
    Layout = null;

    //Criar um objeto Produto
    Produto produto = new Produto();

    //Buscar os dados do formulario pelo método POST e inserir no objeto produto
    produto.Nome = Request.Form["nome"];
    produto.Descricao = Request.Form["descricao"];
    produto.Valor = float.Parse(Request.Form["valor"]);
    produto.Quantidade = int.Parse(Request.Form["quantidade"]);

    HttpFileCollectionBase uploadedFiles = Request.Files;

    for (int i = 0; i < uploadedFiles.Count; i++)
    {
        HttpPostedFileBase userPostedFile = uploadedFiles[i];

        if (userPostedFile.ContentLength > 0)
        {
            // getting a valid server path to save
            string filePath = System.IO.Path.Combine(Server.MapPath("img"), userPostedFile.FileName);
            userPostedFile.SaveAs(filePath);
            produto.Imagem = userPostedFile.FileName;

        }
    }

    //inserir o produto no banco de dados
    DB.Insert_Produto(produto);
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="~/CSS/style.css">
    <title>Meu primeiro CSHTML</title>
</head>
<body>
    <div>
        <!--Sempre que precisar inserir códigos C# no meio do HTML é só inserir um "ARROBA"-->
        <h1>O produto @produto.Nome foi cadastrado com sucesso! </h1>
        <p>Sua imagem é :</p>
        <div><img src="~/Site/img/@produto.Imagem" width="100px" height="100px" /></div>
        <p>Seu valor é: @produto.Valor</p>
        <br>
        <p>Os produtos já cadastrados são:</p>
        @{
            List<Produto> produtos = DB.Lista_Produtos();
        }
        @foreach (Produto produto_lista in produtos)
        {
            <div>
                <p>Produto: @produto_lista.Nome</p>
                <p>Descrição: @produto_lista.Descricao</p>
                <p>Valor: @produto_lista.Valor</p>
                <img src="~/Site/img/@produto_lista.Imagem" width="100px" height="100px" />
            </div>
        }

        <p><a href="~/Site/formulario_cadastro_usuario.cshtml">Realize o cadastro de usuários em nosso Site.</a></p>
        <p><a href="~/Site/formulario_cadastro_produto.cshtml">Realize o cadastro de produtos em nosso Site.</a></p>
        <p><a href="~/Site/compras.cshtml">Realize compras em nosso Site.</a></p>
    </div>
</body>
</html>